
#conteudo {
    text-align: justify;
    font-size: 11px;
}
.div-center-align{
    display: block;
    margin-left: auto;
    margin-right: auto
}
#sitebody{
    padding-top: 80px;
}
h2{
    text-align: center;
}
#sitebody_conteudo{
    padding-top: 30px;
}


